<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>alanev | Professional web development</title>
    <link rel="stylesheet" href="primal.css">
</head>
<body>
    <pre class="data"></pre>
</body>
</html>